<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>angular-persona-jwt Demo</title>
    <base href="/"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">

    <link rel="stylesheet" href="../../vendor/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="../../vendor/angular-material/themes/blue-theme.css"/>

    <script src="https://login.persona.org/include.js"></script>

    <script src="../../vendor/hammerjs/hammer.js"></script>
    <script src="../../vendor/angular/angular.js"></script>
    <script src="../../vendor/angular-animate/angular-animate.js"></script>
    <script src="../../vendor/angular-aria/angular-aria.js"></script>
    <script src="../../vendor/angular-material/angular-material.js"></script>

    <script src="../../demo/client/app.js"></script>
    <script src="../../build/all-source.js"></script>
</head>

<body ng-app="demo.app" ng-controller="DemoAppController">

<h1>Login</h1>

<md-button ng-click="login()"
           ng-if="!loggedUser"
           class="md-button md-deep-orange-theme">
    Login
</md-button>

<md-button ng-if="loggedUser"
           ng-click="logout()"
           class="md-button md-deep-red-theme">
    Logout
</md-button>

<md-button ng-click="checkLoggedIn()">Check Logged In</md-button>

</body>
</html>